body {
    overflow-x: hidden;
    /* background-color: rgb(253, 251, 247); */
}


.my_right {
    /* width: 60%; */
    /* height: 1500px; */
    /* border: 3px solid red; */
    padding-top: 35px;
    padding-left: 14%;
    padding-right: 30px;
}
.my_left {
    /* width: 40%; */
    /* height: 1500px; */
    /* border: 3px solid blue; */
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 100px;
    background-color: rgb(245, 245, 245);
}
.my_card_header {
    border: 1px solid rgb(2, 164, 225);
    background-color: rgb(239, 247, 255);
}
.my_modal_boby {
    padding: 0;
}

input:invalid {
  border: 3px solid red;
}
